bin
.github
.env
config.json
appdata
sample
src/web
spec
build_script/
install_scripts
feta/.dart_tool
feta/build
feta/.idea

## extension

parmesan/node_modules
parmesan/distribution
parmesan/.parcel-cache
parmesan/dist


## frontend stuff

# Miscellaneous
feta/*.class
feta/*.log
feta/*.pyc
feta/*.swp
feta/.DS_Store
feta/.atom/
feta/.buildlog/
feta/.history
feta/.svn/
feta/migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
feta/**/doc/api/
feta/**/ios/Flutter/.last_build_id
feta/.dart_tool/
feta/.flutter-plugins
feta/.flutter-plugins-dependencies
feta/.pub-cache/
feta/.pub/
feta/build/

# Symbolication related
feta/app.*.symbols

# Obfuscation related
feta/app.*.map.json

# Android Studio will place build artifacts here
feta/android/app/debug
feta/android/app/profile
feta/android/app/release

**/.build
core/**/web