bin
.github
.env
config.json
appdata
sample
src/web
spec
build_script/
install_scripts
brie/.dart_tool
brie/build
brie/.idea

## extension

parmesan/node_modules
parmesan/distribution
parmesan/.parcel-cache
parmesan/dist


## frontend stuff

# Miscellaneous
brie/*.class
brie/*.log
brie/*.pyc
brie/*.swp
brie/.DS_Store
brie/.atom/
brie/.buildlog/
brie/.history
brie/.svn/
brie/migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
brie/**/doc/api/
brie/**/ios/Flutter/.last_build_id
brie/.dart_tool/
brie/.flutter-plugins
brie/.flutter-plugins-dependencies
brie/.pub-cache/
brie/.pub/
brie/build/

# Symbolication related
brie/app.*.symbols

# Obfuscation related
brie/app.*.map.json

# Android Studio will place build artifacts here
brie/android/app/debug
brie/android/app/profile
brie/android/app/release
