/bin/
torrents
.env
config.json
appdata
sample
build_script/build_output
/install_scripts/parmesan_extension/
/**/web
src/download_clients/test/downloads
scripts_*/**/test
/install_scripts/**/parmesan_extension.zip
