/bin/
torrents
.env
config.json
appdata
sample
build_script/build_output
/install_scripts/parmesan_extension/
core/**/web
src/downloads/clients/test/downloads
scripts_*/**/test
/install_scripts/**/parmesan_extension.zip
/src/internal/downloads/test/testTorrent
/src/internal/downloads/clients/utils-docker-compose.yml
/**/.idea
/**/gouda-*
/**/.task
/**/.build/
website/.vitepress/dist
website/.vitepress/cache
/website/docs/.vitepress/cache/
.bin
.dev
/core/internal/config/gouda.yml
/**/gouda.yml