/bin/
torrents
.env
config.json
appdata
sample
build_script/build_output
/install_scripts/parmesan_extension/
/install_scripts/parmesan_extension.zip
/**/web
src/download_clients/test/downloads
install_scripts/test